@mixin font-setup($clr, $fw, $fz, $lh) {
  color: $clr;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  margin: 0;
}

@mixin form-setup($mar, $pad, $bor) {
  margin: $mar;
  padding: $pad;
  border: $bor;
  cursor: pointer;
}
