.card {
  background-color: $bg-card-color;

  &_place_services {
    padding: 40px;
    border-radius: 16px;

    @media screen and (max-width: 470px) {
      padding: 20px;
    }
  }

  &_place_warranty {
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    
    @media screen and (max-width: 470px) {
      min-height: 148px;
    }
  }

  &__work-type {
    @include font-setup($text-color, 400, 18px, 100%);
  }

  &__title {
    @include font-setup($title-color, 400, 32px, 100%);
    margin-top: 20px;

    @media screen and (max-width: 470px) {
      @include font-setup($title-color, 400, 24px, 133%);
      margin-top: 10px;
    }

    &_place_warranty {
      @include font-setup($title-color-sm-card, 500, 18px, 100%);
    }
  }

  &__subtitle {
    @include font-setup($text-color, 400, 32px, 125%);
    margin-top: 40px;

    @media screen and (max-width: 470px) {
      @include font-setup($text-color, 400, 12px, 150%);
      margin-top: 28px;
    }

    &_place_warranty {
      @include font-setup($text-color, 400, 15px, 127%);
      margin-top: 38px;

      @media screen and (max-width: 470px) {
        @include font-setup($text-color, 400, 12px, 150%);
        margin-top: 36px;
      }
    }
  }

  &__price {
    @include font-setup($green-color, 400, 14px, 100%);
    margin-top: 41px;

    @media screen and (max-width: 1024px) {
      margin-top: 39px;
    }

    @media screen and (max-width: 470px) {
      @include font-setup($green-color, 400, 12px, 150%);
      margin-top: 100px;
    }
  }
}
