.header {
  display: flex;
  flex-direction: column;
  padding: 60px 30px;

  &__title {
    @include font-setup($title-color, 400, 112px, 100%);
    margin-top: 58px;
  }

  &__subtitle {
    @include font-setup($title-color, 400, 80px, 88%);
    margin-top: 20px;
  }

  &__logo {
    margin-left: 6px;
  }

  &__form {
    margin-top: 231px;
  }

  &__copyright {
    margin-top: 13px;
    margin-left: 10px;
  }
}
