.photo-grid {
  display: grid;
  grid-gap: 20px;
  padding: 60px 30px;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    padding: 20px 60px 60px 60px;
  }

  @media screen and (max-width: 767px) {
    padding: 20px 20px 20px 20px;
  }

  &__container {
    display: grid;
    grid-gap: 20px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__container_position_first {
    grid-template-columns: minmax(280px, 448px) minmax(180px, 1fr);
    grid-template-rows: 230px;

    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(280px, 1fr);
      grid-template-rows: 142px 67px;
    }
  }

  &__container_position_second {
    grid-template-columns: minmax(173px, 1fr) minmax(280px, 730px);
    grid-template-rows: 552px;
    @media screen and (max-width: 1024px) {
      grid-template-rows: 344px;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(280px, 1fr);
      grid-template-rows: 124px 211px;
    }
  }

  &__element {
    border-radius: 10px;
    height: 100%;
  }

  &__element_color_yellow {
    background-color: $yellow-color;
    width: 100%;
  }

  &__element_color_green {
    background-color: $green-color;
    height: 100%;
  }
}
