@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
.body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
}
.body__section {
  margin: 0 auto;
}

.container {
  max-width: 1120px;
}
.container_place_photo-grid {
  max-width: 1440px;
}
.container_place_services-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 120px;
}
@media screen and (max-width: 1024px) {
  .container_place_services-card {
    grid-template-columns: 1fr;
  }
}
.container_place_warranty {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 60px;
}
@media screen and (max-width: 1024px) {
  .container_place_warranty {
    grid-template-columns: repeat(2, 1fr);
  }
}

.copyright {
  color: #47474c;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin: 0;
}

.text {
  color: #8e8e98;
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .text {
    font-size: 20px;
    line-height: 150%;
  }
}

.title {
  color: #ffffff;
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 20px;
    line-height: 150%;
  }
}

.button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  margin: 0;
  height: 50px;
  background-color: #47474c;
  letter-spacing: 0.375px;
}
.button_type_submit {
  width: 221px;
  border-radius: 0px 8px 8px 0px;
  padding: 15px 37px 11px 16px;
}
.button_type_button {
  width: 306px;
  border-radius: 8px;
  padding: 14px 30px 12px 30px;
}

.card {
  background-color: #1c1c1e;
}
.card_place_services {
  padding: 40px;
  border-radius: 16px;
}
.card_place_warranty {
  padding: 20px;
  border-radius: 10px;
}
.card__work-type {
  color: #8e8e98;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 0;
}
.card__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
  margin-top: 20px;
}
.card__title_place_warranty {
  color: #eaeaf0;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  margin: 0;
}
.card__subtitle {
  color: #8e8e98;
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  margin: 0;
  margin-top: 40px;
}
.card__subtitle_place_warranty {
  color: #8e8e98;
  font-weight: 400;
  font-size: 15px;
  line-height: 127%;
  margin: 0;
  margin-top: 38px;
}
.card__price {
  color: #25e197;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 0;
  margin-top: 41px;
}
@media screen and (max-width: 1024px) {
  .card__price {
    margin-top: 39px;
  }
}

.form {
  display: flex;
  align-items: center;
}
.form__input {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  margin: 0;
  letter-spacing: 0.375px;
  box-sizing: border-box;
  padding: 13px 0 13px 16px;
  width: 348px;
  height: 50px;
  background: rgba(142, 142, 152, 0.2);
  border-radius: 8px 0px 0px 8px;
  outline-style: none;
}
@media screen and (max-width: 1024px) {
  .form__input_place_header {
    width: 427px;
  }
}
.form__input:hover {
  background: rgba(142, 142, 152, 0.3);
}
.form__input:focus {
  background: rgba(142, 142, 152, 0.3);
}

.header {
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 57px 60px 32px 60px;
  }
}
.header__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 112px;
  line-height: 100%;
  margin: 0;
  margin-top: 58px;
}
@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 70px;
    line-height: 129%;
    margin-top: 70px;
  }
}
.header__subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 80px;
  line-height: 88%;
  margin: 0;
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  .header__subtitle {
    font-size: 50px;
    line-height: 120%;
    margin-top: 0px;
  }
}
.header__logo {
  margin-left: 6px;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    margin-left: 0px;
  }
}
.header__form {
  margin-top: 231px;
}
@media screen and (max-width: 1024px) {
  .header__form {
    margin-top: 470px;
  }
}
.header__copyright {
  margin-top: 13px;
  margin-left: 10px;
}
@media screen and (max-width: 1024px) {
  .header__copyright {
    margin-top: 11px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 136%;
  margin: 0;
}
.logo__subtitle {
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  margin: 0;
  display: block;
  background-color: #25e197;
  border-radius: 4px;
  padding: 4px 8px;
}

.main {
  margin: 0 auto;
}

.photo-grid {
  display: grid;
  grid-gap: 20px;
  padding: 60px 30px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    padding: 20px 60px 60px 60px;
  }
}
.photo-grid__container {
  display: grid;
  grid-gap: 20px;
}
.photo-grid__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.photo-grid__container_position_first {
  grid-template-columns: minmax(280px, 448px) minmax(180px, 1fr);
  grid-template-rows: 230px;
}
.photo-grid__container_position_second {
  grid-template-columns: minmax(173px, 1fr) minmax(280px, 730px);
  grid-template-rows: 552px;
}
@media screen and (max-width: 1024px) {
  .photo-grid__container_position_second {
    grid-template-rows: 344px;
  }
}
.photo-grid__element {
  border-radius: 10px;
  height: 100%;
}
.photo-grid__element_color_yellow {
  background-color: #ffd233;
  width: 100%;
}
.photo-grid__element_color_green {
  background-color: #25e197;
  height: 100%;
}

.services {
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
}
@media screen and (max-width: 1024px) {
  .services {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.services__title {
  margin-top: 60px;
}

.warranty {
  padding: 59px 30px 60px 30px;
}
@media screen and (max-width: 1024px) {
  .warranty {
    padding-top: 61px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.support {
  padding: 60px 30px;
}
@media screen and (max-width: 1024px) {
  .support {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.support__button {
  margin-top: 90px;
}
@media screen and (max-width: 1024px) {
  .support__button {
    margin-top: 80px;
  }
}
.support__text {
  margin-top: 50px;
}
@media screen and (max-width: 1024px) {
  .support__text {
    margin-top: 40px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 178px 30px 60px 30px;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 148px 60px 60px 60px;
  }
}
.footer__line {
  width: 100%;
  height: 2px;
  background-color: #151515;
}
.footer__logo {
  margin-top: 60px;
}
.footer__form {
  margin-top: 84px;
}
.footer__container-copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
@media screen and (max-width: 1024px) {
  .footer__container-copyright {
    flex-direction: column;
    gap: 60px;
  }
}