@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
.body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
}
.body__section {
  margin: 0 auto;
}

.container {
  max-width: 1120px;
}
.container_place_photo-grid {
  max-width: 1440px;
}

.copyright {
  color: #47474c;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}
.header__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 112px;
  line-height: 100%;
  margin: 0;
  margin-top: 58px;
}
.header__subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 80px;
  line-height: 88%;
  margin: 0;
  margin-top: 20px;
}
.header__logo {
  margin-left: 6px;
}
.header__form {
  margin-top: 230px;
}
.header__copyright {
  margin-top: 13px;
  margin-left: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 136%;
  margin: 0;
}
.logo__subtitle {
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  margin: 0;
  display: block;
  background-color: #25e197;
  border-radius: 4px;
  padding: 4px 8px;
}

.main {
  margin: 0 auto;
}

.photo-grid {
  display: grid;
  grid-gap: 20px;
  padding: 60px 30px;
  box-sizing: border-box;
  /* &__image {
    width: 100%;
  } */
}
.photo-grid__container {
  display: grid;
  grid-gap: 20px;
}
.photo-grid__container_position_first {
  grid-template-columns: minmax(280px, 488px) 1fr;
  grid-template-rows: 230px;
}
.photo-grid__container_position_second {
  grid-template-columns: 1fr minmax(280px, 730px);
  grid-template-rows: minmax(344px, 552px);
}
.photo-grid__element {
  border-radius: 10px;
}
.photo-grid__element_color_yellow {
  background-color: #ffd233;
}
.photo-grid__element_color_green {
  background-color: #25e197;
}

.form {
  display: flex;
  align-items: center;
}
.form__input {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  margin: 0;
  letter-spacing: 0.375px;
  box-sizing: border-box;
  padding: 13px 0 13px 16px;
  width: 348px;
  height: 50px;
  background: rgba(142, 142, 152, 0.2);
  border-radius: 8px 0px 0px 8px;
  outline-style: none;
}
.form__input:hover {
  background: rgba(142, 142, 152, 0.3);
}
.form__input:focus {
  background: rgba(142, 142, 152, 0.3);
}

.button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  height: 50px;
  background-color: #47474c;
  letter-spacing: 0.375px;
}
.button_type_submit {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  margin: 0;
  width: 221px;
  border-radius: 0px 8px 8px 0px;
  padding: 15px 37px 11px 16px;
}